/* 
 * This resource file is shared by the client and screensaver.
 * (the client can also run as a screensaver)
 * For use in distributed.net projects only. YEAH! :)
 *
 * Revision $Id: w32cons.rc,v 1.1.2.3 2001/04/20 16:13:09 cyp Exp $
*/

#define DNETC_EXE_ICO "plat\\win\\w32cons.ico" //dnet2.ico,w32cons.ico
#define DNETC_SCR_ICO "plat\\win\\w32ss.ico"

#ifndef NONDCTI_SPECIAL
  #include "..\..\common\version.h"
  #define SSVI_COMPANYNAME "Distributed Computing Technologies, Inc."
  #define SSVI_FILEDESCR   "distributed.net client"
  #define SSVI_SSNAME      "distributed.net client launcher" //max 25
  #define SSVI_VERMAJOR    (CLIENT_CONTEST*100+CLIENT_BUILD)
  #define SSVI_VERMINOR    CLIENT_BUILD_FRAC
  #define SSVI_VERSTRING   CLIENT_VERSIONSTRING
#else
  #define SSVI_COMPANYNAME "FooBar Technologies, Inc."
  #define SSVI_FILEDESCR   "OnIdle Application Launcher"
  #define SSVI_SSNAME      "OnIdle app launcher" //max 25
  #define SSVI_VERMAJOR    1
  #define SSVI_VERMINOR    10
  #define SSVI_VERSTRING   "1.10"
#endif  

#define SSCONFIG_FNICON     400
#define SSCONFIG_FNCAPTION  402
#define SSCONFIG_FNMRU      403
#define SSCONFIG_FNBROWSE   404
#define SSCONFIG_FNCONFIG   405
#define SSCONFIG_FN         406

#define SSCONFIG_SSPREVIEW  407
#define SSCONFIG_SSLIST     408
#define SSCONFIG_LISTCONFIG 409
#define SSCONFIG_SSICON     410

#define SSCONFIG_HELPTEXT   450

#include <windows.h>

#undef BS_NOTIFY //           0x00004000L
#define BS_NOTIFY 0

/* damnit! why doesn't "1 1 ... rawdata" work? */
1 ICON LOADONCALL MOVEABLE DISCARDABLE DNETC_EXE_ICO
SSCONFIG_SSICON ICON LOADONCALL MOVEABLE DISCARDABLE DNETC_SCR_ICO

1 VERSIONINFO LOADONCALL MOVEABLE DISCARDABLE 
              FILEVERSION 2,SSVI_VERMAJOR,SSVI_VERMINOR,0
              PRODUCTVERSION 2,SSVI_VERMAJOR,SSVI_VERMINOR,0
              //FILEFLAGSMASK 0x0L
              //FILEFLAGS 0x3eL
              FILEOS 0x4L
              FILETYPE 0x1L
              FILESUBTYPE 0x0L
              BEGIN
                 BLOCK "StringFileInfo"
                 BEGIN
                    BLOCK "040904E4"
                    BEGIN
                       VALUE "CompanyName", SSVI_COMPANYNAME "\0"
                       VALUE "FileDescription", SSVI_FILEDESCR "\0"
                       VALUE "FileVersion", SSVI_VERSTRING "\0"
                       VALUE "InternalName", "dnetc\0"
                       VALUE "LegalCopyright", "Copyright \251 1997-2001. All Rights Reserved.\0"
                       //VALUE "LegalTrademarks", "distributed.net is a trademark of Distributed Computing Technologies, Inc.\0"
                       VALUE "OriginalFilename", "dnetc.exe\0"
                       VALUE "ProductName", SSVI_FILEDESCR "\0"
                       VALUE "ProductVersion", SSVI_VERSTRING "\0"
                    END
                 END
                 BLOCK "VarFileInfo"
                 BEGIN
                    VALUE "Translation", 0x409, 1252
                 END
              END

1 DIALOG 8, 27, 250, 115
STYLE DS_MODALFRAME | 0x4L | WS_OVERLAPPED | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "distributed.net client for Windows"
FONT 8, "Helv"
{
 CONTROL "OK", IDOK, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 108, 96, 33, 14
 CONTROL 1, -1, "STATIC", SS_ICON | WS_CHILD | WS_VISIBLE, 14, 11, 18, 20
 CONTROL "distributed.net client - a project of distributed.net", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 40, 9, 195, 8
 CONTROL "", 201, "EDIT", ES_LEFT | ES_NOHIDESEL | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 40, 17, 195, 8
 CONTROL "Copyright 1997-2001 distributed.net", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 40, 25, 195, 8
 CONTROL "", 202, "STATIC", SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 8, 42, 234, 18
 CONTROL "Please send requests for assistance and support to", -1, "STATIC", SS_RIGHT | WS_CHILD | WS_VISIBLE | WS_GROUP, 4, 64, 167, 8
 CONTROL "help@distributed.net", 204, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP, 173, 64, 75, 8
 CONTROL "distributed.net bug tracking pages are at", -1, "STATIC", SS_RIGHT | WS_CHILD | WS_VISIBLE | WS_GROUP, 4, 73, 131, 8
 CONTROL "http://www.distributed.net/bugs/", 203, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP, 137, 73, 110, 8
 CONTROL "Please provide the entire version descriptor when making reports.", -1, "STATIC", SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 8, 82, 234, 8
 CONTROL "", -1, "BUTTON", BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 6, 0, 237, 38
}

#ifndef DLG_SCRNSAVECONFIGURE
#define DLG_SCRNSAVECONFIGURE   2003
#endif

DLG_SCRNSAVECONFIGURE DIALOG 18, 41, 291, 153
STYLE DS_MODALFRAME | 0x4L | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "distributed.net client launcher"
FONT 8, "Helv"
{
 CONTROL 1, SSCONFIG_FNICON, "STATIC", SS_ICON | WS_CHILD | WS_VISIBLE | WS_GROUP, 15, 15, 18, 20
 CONTROL "Full path to the distributed.net client:", SSCONFIG_FNCAPTION, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 39, 13, 167, 10
 CONTROL "", SSCONFIG_FN, "EDIT", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_GROUP | WS_TABSTOP, 39, 23, 185, 12
 CONTROL "Always use the most recently run client", SSCONFIG_FNMRU, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_GROUP | WS_TABSTOP | BS_NOTIFY, 40, 37, 142, 12
 CONTROL "B&rowse", SSCONFIG_FNBROWSE, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP | BS_NOTIFY, 229, 22, 50, 14
 CONTROL "Con&figure", SSCONFIG_FNCONFIG, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP | BS_NOTIFY, 229, 38, 50, 14
 CONTROL SSCONFIG_SSICON, SSCONFIG_SSICON, "STATIC", SS_ICON | WS_CHILD | WS_VISIBLE, 15, 73, 18, 20
 CONTROL "Screen Saver to run in the foreground:", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 39, 71, 167, 10
 CONTROL "", SSCONFIG_SSLIST, "COMBOBOX", CBS_DROPDOWNLIST | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_VSCROLL | WS_GROUP | WS_TABSTOP, 39, 81, 185, 50
 CONTROL "&Settings...", SSCONFIG_LISTCONFIG, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_TABSTOP | BS_NOTIFY, 229, 81, 50, 14
 CONTROL "Pre&view", SSCONFIG_SSPREVIEW, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP | BS_NOTIFY, 229, 97, 50, 14
 CONTROL "OK", IDOK, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP | BS_NOTIFY, 173, 121, 50, 14
 CONTROL "Cancel", IDCANCEL, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP | BS_NOTIFY, 229, 121, 50, 14
 CONTROL "Background", -1, "BUTTON", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | BS_NOTIFY, 7, 2, 278, 56
 CONTROL "Foreground", -1, "BUTTON", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | BS_NOTIFY, 7, 60, 278, 56
 CONTROL "", SSCONFIG_HELPTEXT, "STATIC", SS_LEFT | SS_NOPREFIX | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_GROUP, 1, 142, 288, 10
 CONTROL "", -1, "BUTTON", BS_GROUPBOX | WS_CHILD | WS_VISIBLE  | BS_NOTIFY, 0, 137, 291, 16
}

STRINGTABLE LOADONCALL MOVEABLE DISCARDABLE 
BEGIN
           1 SSVI_SSNAME /* max 25 chars */
END

#define GRAPH_DIALOG	    2
#define IDC_PROJLIST	  101
#define IDC_CURRATE	  102
#define IDC_GRAPH	  103
#define IDC_CRUNCHCOUNT	  104
#define IDC_AMP_FRAME     105
#define IDC_AMP           106
#define IDC_FREQ_FRAME    107
#define IDC_FREQ          108
#define IDC_LOG	          109
#define IDC_BUFIN_PKTS    110
#define IDC_BUFIN_SWU     111
#define IDC_BUFIN_TIME    112
#define IDC_BUFOUT_SWU	  113
#define IDC_BUFOUT_PKTS	  114
#define IDC_SUM_TIME      115
#define IDC_SUM_RATE      116
#define IDC_SUM_SWU       117
#define IDC_SUM_PKTS      118
#define IDC_SHOWAVG       119
#define IDC_SHOWNOISE     120

#if 0
123 DIALOG 0, 0, 301, 133
STYLE 0x4L | WS_CHILD
FONT 8, "Helv"
{
 CONTROL "Project", -1, "BUTTON", BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 3, 3, 43, 79
 CONTROL "", IDC_PROJLIST, "LISTBOX", LBS_DISABLENOSCROLL| LBS_NOTIFY | LBS_NOINTEGRALHEIGHT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL, 8, 13, 34, 64
 CONTROL "Rate:", IDC_CURRATE, "BUTTON", BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 50, 3, 183, 79
 CONTROL "", IDC_GRAPH, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_DISABLED, 54, 13, 175, 65
 CONTROL "Crunchers", -1, "BUTTON", BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 237, 3, 61, 26
 CONTROL "", IDC_CRUNCHCOUNT, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_DISABLED, 240, 13, 54, 13
 CONTROL "Amp", IDC_AMP_FRAME, "BUTTON", BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 237, 29, 61, 26
 CONTROL "", IDC_AMP, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_DISABLED, 240, 39, 54, 13
 CONTROL "Freq", IDC_FREQ_FRAME, "BUTTON", BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 237, 56, 61, 26
 CONTROL "", IDC_FREQ, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_DISABLED, 240, 66, 54, 13
 CONTROL "Log Extract", -1, "BUTTON", BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 3, 82, 295, 48
 CONTROL "", IDC_LOG, "LISTBOX", LBS_OWNERDRAWFIXED | LBS_DISABLENOSCROLL| LBS_NOTIFY | LBS_NOINTEGRALHEIGHT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL, 8, 92, 285, 33
}
#endif

// the alignment/positions of the groupbox frames is difficult to get right 
// for both win16 (with and without ctl3d) and win32. Please don't delete!
// CONTROL "", -1, "BUTTON", BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 3, 83, 46, 69
// CONTROL "", -1, "BUTTON", BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 49, 83, 56, 69
// CONTROL "", -1, "BUTTON", BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 105, 83, 57, 69
// CONTROL "", -1, "BUTTON", BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 160, 83, 53, 69


GRAPH_DIALOG DIALOG 0, 0, 283, 156
STYLE 0x4L | WS_CHILD
FONT 8, "Helv"
{
 CONTROL "Project", -1, "BUTTON", BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 3, 3, 43, 54
 CONTROL "", IDC_PROJLIST, "LISTBOX", LBS_NOTIFY | LBS_NOINTEGRALHEIGHT | LBS_DISABLENOSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 8, 13, 34, 40
 CONTROL "Crunchers", -1, "BUTTON", BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 3, 57, 43, 26
 CONTROL "", IDC_CRUNCHCOUNT, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_DISABLED, 7, 67, 35, 13
 CONTROL "Rate:", IDC_CURRATE, "BUTTON", BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 50, 3, 230, 80
 CONTROL "", IDC_GRAPH, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_DISABLED, 54, 12, 221, 67
 CONTROL "Graph", -1, "BUTTON", BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 216, 83, 64, 69
 CONTROL "Show Average", IDC_SHOWAVG, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE, 220, 91, 57, 12
 CONTROL "Show Impurity", IDC_SHOWNOISE, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE, 220, 102, 55, 12
 CONTROL "Amp: 0.0x", IDC_AMP_FRAME, "BUTTON", BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 220, 123, 56, 26
 CONTROL "", IDC_AMP, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_DISABLED, 224, 132, 48, 13
 CONTROL "", -1, "STATIC", SS_LEFTNOWORDWRAP | WS_CHILD | WS_VISIBLE | WS_GROUP, 8, 89, 40, 8
 CONTROL "Packets", -1, "STATIC", SS_LEFTNOWORDWRAP | WS_CHILD | WS_VISIBLE, 8, 102, 40, 8
 CONTROL "Stats Units", -1, "STATIC", SS_LEFTNOWORDWRAP | WS_CHILD | WS_VISIBLE, 8, 115, 40, 8
 CONTROL "Time ", -1, "STATIC", SS_LEFTNOWORDWRAP | WS_CHILD | WS_VISIBLE, 8, 128, 40, 8
 CONTROL "Rate", -1, "STATIC", SS_LEFTNOWORDWRAP | WS_CHILD | WS_VISIBLE, 8, 141, 40, 8
 CONTROL "In-Buffer", -1, "STATIC", SS_CENTER | WS_CHILD | WS_VISIBLE, 54, 90, 45, 8
 CONTROL "0", IDC_BUFIN_PKTS, "STATIC", SS_RIGHT | WS_CHILD | WS_VISIBLE, 54, 102, 45, 8
 CONTROL "0.00", IDC_BUFIN_SWU, "STATIC", SS_RIGHT | WS_CHILD | WS_VISIBLE, 54, 115, 45, 8
 CONTROL "00.00:00:00", IDC_BUFIN_TIME, "STATIC", SS_RIGHT | WS_CHILD | WS_VISIBLE, 54, 128, 45, 8
 CONTROL "Out-Buffer", -1, "STATIC", SS_CENTER | WS_CHILD | WS_VISIBLE, 107, 90, 48, 8
 CONTROL "0", IDC_BUFOUT_PKTS, "STATIC", SS_RIGHT | WS_CHILD | WS_VISIBLE, 110, 102, 45, 8
 CONTROL "0.00", IDC_BUFOUT_SWU, "STATIC", SS_RIGHT | WS_CHILD | WS_VISIBLE, 110, 115, 45, 8
 CONTROL "Summary", -1, "STATIC", SS_CENTER | WS_CHILD | WS_VISIBLE, 167, 90, 38, 8
 CONTROL "0", IDC_SUM_PKTS, "STATIC", SS_RIGHT | WS_CHILD | WS_VISIBLE, 162, 102, 45, 8
 CONTROL "0.00", IDC_SUM_SWU, "STATIC", SS_RIGHT | WS_CHILD | WS_VISIBLE, 162, 115, 45, 8
 CONTROL "00.00:00:00", IDC_SUM_TIME, "STATIC", SS_RIGHT | WS_CHILD | WS_VISIBLE, 162, 128, 45, 8
 CONTROL "0.00", IDC_SUM_RATE, "STATIC", SS_RIGHT | WS_CHILD | WS_VISIBLE, 162, 141, 45, 8
 CONTROL "", -1, "BUTTON", BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 3, 96, 210, 17
 CONTROL "", -1, "BUTTON", BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 3, 121, 210, 18
 CONTROL "", -1, "BUTTON", BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 3, 83, 46, 69
 CONTROL "", -1, "BUTTON", BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 49, 83, 56, 69
 CONTROL "", -1, "BUTTON", BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 105, 83, 57, 69
 CONTROL "", -1, "BUTTON", BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 160, 83, 53, 69
}
